---
import NextJs from './icons/Next.astro';
import Tailwind from './icons/Tailwind.astro';
import JavaScript from './icons/JavaScript.astro';
import Sass from './icons/Sass.astro';
import React from './icons/React.astro';
import PlayIcon from './icons/Play.astro';
import GitHubIcon from './icons/GitHub.astro';

const TAGS = {
  PLAYICON: {
    name: 'Go live',
    class: 'bg-green-500/60 text-white',
    icon: PlayIcon,
    type: 'linkLive',
  },
  GITHUBICON: {
    name: 'GitHub',
    class: 'bg-black text-white',
    icon: GitHubIcon,
    type: 'linkGitHub',
  },

  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJs,
    type: 'tech',
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
    type: 'tech',
  },

  REACT: {
    name: 'React',
    class: 'bg-blue-500 text-white',
    icon: React,
    type: 'tech',
  },

  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-yellow-500/60 text-white',
    icon: JavaScript,
    type: 'tech',
  },

  SASS: {
    name: 'Sass',
    class: 'bg-pink-400/30 text-white',
    icon: Sass,
    type: 'tech',
  },
};
const PROJECTS = [
  {
    title: 'Developer Week Project',
    description:
      'This is my capstone project about developerWeek wich is the largest developer conference & event series including the DeveloperWeek 2023 Conference & Expo, 1,000+ attendee hackathon, 800+ attendee tech hiring expo, and a series of workshops, technical talks, and keynotes.',
    link: 'https://sparktan24.github.io/Page-web-development-course/index.html',
    github: 'https://github.com/Sparktan24/Page-web-development-course',
    image: '/projects/Project-Page.webp',
    tags: [TAGS.JAVASCRIPT, TAGS.SASS, TAGS.PLAYICON, TAGS.GITHUBICON],
  },
  {
    title: 'Tic Tac Toe',
    description: 'A simple game of tic tac toe made with React.',
    link: 'https://github.com/Sparktan24/Game-tic-tac-toe/tree/dev',
    github: 'https://github.com/Sparktan24/Game-tic-tac-toe/tree/dev',
    image: '/projects/tic-tac-toe/tic-1.webp',
    tags: [TAGS.REACT, TAGS.PLAYICON, TAGS.GITHUBICON],
  },
  {
    title: 'Vet React App',
    description:
      'Vet React App is a simple app to manage a veterinary clinic. It is made with React and Tailwind CSS.',
    link: 'https://dev--neto-vet-app.netlify.app/',
    github: 'https://github.com/Sparktan24/vet-app-react',
    image: '/projects/vet-app/vet-1.webp',
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.PLAYICON, TAGS.GITHUBICON],
  },
  {
    title: 'Expense Control App',
    description:
      'Expense Control App "Expense Control App" is a website where you can add different expenses and create a list to manage your budget and check how much you are spending.',
    link: 'https://sparktan-expense-control.netlify.app/',
    github: 'https://github.com/Sparktan24/expense-control',
    image: '/projects/expense-app/expense-1.webp',
    tags: [TAGS.REACT, TAGS.PLAYICON, TAGS.GITHUBICON],
  },
  {
    title: 'Natours',
    description:
      'This is a demo page called natours where i implement advanced css using sass and 7-1 architecture, and using floats to build the page.',
    link: 'https://sparktan24.github.io/1.-Natours/#',
    Github: 'https://github.com/Sparktan24/1.-Natours',
    image: '/projects/natours/natours-1.webp',
    tags: [TAGS.SASS, TAGS.PLAYICON, TAGS.GITHUBICON],
  },
];
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article class="mb-16">
      <h3 class="text-2xl font-semibold text-yellow-200/80 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>

      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => {
          if (tag.type === 'linkLive') {
            return (
              <li>
                <a
                  href={link}
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </a>
              </li>
            );
          } else if (tag.type === 'linkGitHub') {
            return (
              <li>
                <a
                  href={github}
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </a>
              </li>
            );
          } else {
            return (
              <li class="cursor-default">
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            );
          }
        })}
      </ul>

      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Screenshot of the project ${title}`}
      />
    </article>
  ))
}
